<h2>Om sidan</h2>
<div id="om">
<p><strong>Undersidor:</strong> Webbplatsen är skapad med tre stycken under sidor med startsidan inlkkuderad. En sida för konvertering och en sida med information om webbplatsen. 
   <br><br>
<strong>Konvertering:</strong> På undersidan med konverterare kan man monvertera ett tal mellan olika enheter. Från meter till fot och från celsius till fahrenheit och vice versa. Denna konverterare är löst genom att det finns ett inputfält för att skriva in det tal man vill konvertera och sedan knappar som man klickar på untifrån vad det är man vill konvertera. Konverteraren använder Angulars ngmodel och databindning för att hämta och skriva ut data.
   <br> <br>
<strong>Bilder:</strong> På första sidan är en bild och i footern ligger en bild. Dom båda är implementerade genom Angular Property binding. 
    <br><br>
<strong>Navigering:</strong> Navigeringen ligger i header komponenten och sköts med Angulars router-modul, alltså med hjälp av routerLink. 
<br><br>
<strong>Komponenter:</strong> Olika delar på sidan är indelade i komponenter. Det är en för varje undersida smat en komponent för header och en för footer som båda är infogade på alla undersidorna. 
    <br><br>
<strong>Styling:</strong> All styling på sidan är skapad med CSS. Den globala stylingen som gäller för alla sidor ligger i 
Angulars styles.css-fil och resterande styling ligger på komponentnivå för dom olika delarna.  
<br><br>
<strong>Versionshantering:</strong> under utvecklingen av webbplatsen har GitHub används för att verisionshantera all källkod. 
<br><br>
<strong>Slutsatser:</strong> Jag tycker det var en rolig och inressant uppgift. Det känns väldigt smidigt att arbeta med Angular då man kan dela upp allt i komponenter och på så sätt få en tydlig struktur och lättare att styra olika delar var för sig. Samt att man enkelt kan återanvända komponenter gör arbetsprocessen enklare. 
</p>
</div>